/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

button,
p {
    background-color: black;
    color: #fff;
    /* margin: 40px; */
/* padding: 10px; */
/* border-radius: 14px;
    margin-left: 2px;
    text-align: center;
}

button {
    margin-left: 100px;
    margin-top: 20px;

} */
